.boite__modale {
    position: fixed;
    padding: 1rem;
    width: 80%;
    height: 70%;
    top: 10%;
    left: 10%;
    background-color: hsl(0, 0%, 10%);
    border: 10px hsl(0, 0%, 25%) solid;
    border-radius: 5px;
    color: white;
    font-size: 0.85rem;
    transform: scale(0);
    transition: all 0.3s ease-in-out;

    z-index: 10;

    &__ouvrir{
        transform: scale(1);
    }
}

.boite__modale__text{
    margin-top: 0.8rem;

}

@media screen and (min-width : $largeur__media--tablette){
    .boite__modale {
        height: 50%;
        font-size: 1rem;
    }
} 